@import url("initial.css");
@import url("grid.css");
.welcome a:hover {
  text-decoration: underline;
}
.copyright a:hover {
  text-decoration: underline;
}
footer a:hover {
  color: #ff7f27 !important;
}
