:root {
    --mainColor: #005ad2;
    --assistColor: #333333;
    --btnColor: #ff7f27;
    --contentWidth: 100%;
    --contentMaxWidth: 1240px;
    --contentWidthPadding: 20px;
}

@mainColor: #005ad2;
@assistColor: #333333;
@btnColor: #ff7f27;
@contentWidth: 100%;
@contentMaxWidth: 1240px;
@contentWidthPadding: 20px;

@navHeight: 60px;

@animateTime: 1.5s;
@animateDelay: 0.5s;
@animateInterval: 0.3;

.pageContent {
    width: @contentWidth;
    width: var(--contentWidth);
    max-width: @contentMaxWidth;
    max-width: var(--contentMaxWidth);
    margin: 0 auto;
    padding: 0 @contentWidthPadding;
    padding: 0 var(--contentWidthPadding);
    box-sizing: border-box;
}

header {
    .welcome {
        background-color: @mainColor;
        background-color: var(--mainColor);

        .gridBox {
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;

            .gridCell {
                &:nth-child(2) {
                    font-size: 0;
                    text-align: right;

                    .choose {
                        display: inline-block;
                        font-size: 14px;
                    }

                    .language {
                        display: inline-block;
                        font-size: 0;

                        li {
                            position: relative;
                            display: inline-block;
                            font-size: 14px;
                            margin-left: 14px;
                            color: #cccccc;

                            &:first-child {
                                margin-left: 0;
                            }

                            &:after {
                                content: '::';
                                display: block;
                                width: 10px;
                                text-align: center;
                                position: absolute;
                                top: 0;
                                right: -12px;
                            }

                            &:last-child:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .titleHeader {
        border-bottom: 1px solid #ddd;

        >.gridBox {
            padding-top: 20px;
            padding-bottom: 20px;

            >.gridCell {
                &:nth-child(1) {
                    width: 30%;

                    img {
                        width: 100%;
                        max-width: 231px;
                    }
                }

                &:nth-child(2) {
                    width: 40%;
                    padding: 0 2%;

                    #searchform {
                        >.search_group {
                            font-size: 0;
                            border: 1px #ddd solid;

                            >.input-sm {
                                display: inline-block;
                                width: calc(100% - 40px);
                                padding: 0 15px;
                                box-sizing: border-box;
                                height: 40px;
                                border: none;
                                vertical-align: middle;
                            }

                            >.searchBtn {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                text-align: center;
                                cursor: pointer;
                                background-color: #ff7f27;
                                background-color: var(--btnColor);
                                transition: background .4s ease;
                                vertical-align: middle;

                                &:hover {
                                    background-color: #444444;
                                }

                                i.iconfont {
                                    font-size: 16px;
                                    color: #ffffff;
                                    line-height: 40px;
                                }
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    width: 30%;

                    >.hotline {
                        max-width: 215px;
                        margin-left: auto;
                        margin-right: 0;

                        >.gridCell {
                            &:nth-child(1) {
                                width: 45px;

                                >.iconfont {
                                    display: inline-block;
                                    padding: 5px;
                                    box-sizing: border-box;
                                    font-size: 30px;
                                    border: 1px solid;
                                    border-radius: 100%;
                                }
                            }

                            &:nth-child(2) {
                                width: calc(100% - 45px);
                                padding-left: 5px;

                                p {
                                    font-size: 14px;
                                    color: #666666;
                                }

                                h2 {
                                    font-size: 24px;
                                    color: @mainColor;
                                    color: var(--mainColor);
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .pc_nav {
        box-sizing: border-box;
        color: #333333;

        ul.yjBox {
            width: 100%;
            font-size: 0;

            >li {
                position: relative;
                display: inline-block;
                width: calc(100% / 8);

                &:hover .slideBox {
                    transform: scaleY(1);
                    transition: transform .3s;
                }

                &:hover .slideBox .ejBox {
                    opacity: 1;
                    transform: translate(0, 0);
                    transition: all .2s .3s;
                }

                &:last-child > .yjTitle{
                    border-right: 1px solid #ddd;
                }

                .yjTitle {
                    display: block;
                    text-align: center;
                    line-height: @navHeight;
                    font-size: 16px;
                    color: inherit;
                    font-weight: bold;
                    border-left: 1px solid #ddd;
                    background-color: transparent;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -webkit-transition: all .4s ease;
                    transition: all .4s ease;

                    &:hover {
                        color: #fff;
                        background-color: @btnColor;
                        background-color: var(--btnColor);
                    }
                }

                .slideBox {
                    position: absolute;
                    top: @navHeight;
                    left: 0;
                    z-index: 999;
                    width: 120%;
                    font-size: 0;
                    box-sizing: border-box;
                    transform: scaleY(0);
                    transform-origin: top center;
                    transition: transform .3s .2s;
                    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
                    background-color: #fff;

                    .ejBox {
                        width: 100%;
                        height: auto;
                        color: #333;
                        opacity: 0;
                        transform: translate(0, -20px);
                        transition: all .2s;

                        >li {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                            padding: 0 20px;
                            border-bottom: 1px solid #eee;
                            position: relative;
                            transition: all 0.3s cubic-bezier(0.86, 0.5, 1, 1);

                            &:hover {
                                background-color: @btnColor;
                                background-color: var(--btnColor);
                            }

                            &:hover .ejTitle {
                                color: #fff;
                            }

                            .ejTitle {
                                display: block;
                                box-sizing: border-box;
                                text-align: left;
                                line-height: 40px;
                                font-size: 14px;
                                color: inherit;
                                font-weight: bold;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                background-color: transparent;
                                -webkit-transition: all .4s ease;
                                transition: all .4s ease;
                            }
                        }
                    }

                }
            }
        }
    }
}

main {
    .banner {
        .swiper-slide {
            font-size: 0;

            img {
                width: 100%;
            }
        }
    }

    .companyTitle {
        background-color: @mainColor;
        background-color: var(--mainColor);
        overflow: hidden;

        >.gridBox {
            overflow: visible;

            >.gridCell {

                &:nth-child(1) {
                    width: 60%;
                    position: relative;
                    background-color: @mainColor;
                    background-color: var(--mainColor);
                    color: #fff;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 100%;
                        width: 100vw;
                        height: 100%;
                        background-color: @mainColor;
                        background-color: var(--mainColor);
                    }

                    .title {
                    }

                    .title2 {
                    }
                }

                &:nth-child(2) {
                    width: 40%;
                    position: relative;
                    background-color: @assistColor;
                    background-color: var(--assistColor);

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 100%;
                        width: 100vw;
                        height: 100%;
                        background-color: @assistColor;
                        background-color: var(--assistColor);
                    }

                    >.gridBox {
                        max-width: 320px;
                        margin-left: auto;
                        margin-right: 0;

                        >.gridCell {
                            &:nth-child(1) {

                                >.iconfont {
                                    display: inline-block;
                                    box-sizing: border-box;
                                    color: #fff;
                                }
                            }

                            &:nth-child(2) {

                                h2 {
                                    font-weight: normal;
                                    color: #ffffff;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .proList {
        >.pageContent {
            >.tabBox {
                >.tabNav {
                    font-size: 0;

                    >li.nav_item {
                        position: relative;
                        display: inline-block;
                        width: calc(100% / 4);
                        vertical-align: bottom;
                        padding: 0 0px;
                        box-sizing: border-box;
                        font-size: 20px;
                        border-left:1px solid #ccc;
                        overflow:hidden;

                        &:first-child {
                            padding-left: 0px;
                        }

                        &:last-child {
                            padding-right: 0px;
                            border-right:1px solid #ccc;
                        }

                        &:hover .tab_link.hover{
                            top:0;
                        }

                        >a.tab_link {
                            display: block;
                            text-align: center;
                            padding: 20px 5px;
                            box-sizing:border-box;
                            transition: all .4s ease-in-out;
                            color: #333;
                            border-bottom:3px solid @btnColor;
                            border-color:var(--btnColor);
                            background-color:#fff;

                            &:active {
                            }

                            &:hover {
                            }

                            >h3{
                                font-size:18px;
                                font-weight:normal;
                            }
                            >p{
                                margin-top:5px;
                                font-size:14px;
                            }

                            &.hover{
                                position:absolute;
                                top:-100%;
                                left:0;
                                width:100%;
                            }
                        }
                        
                    }
                }

                >.tabContent {
                    min-height: 300px;

                    >.content_item {
                        display: none;

                        &:first-child {
                            display: block;
                        }

                        /*产品列表*/
                        .proList {
                            font-size: 0;

                            >.proItem {
                                display: inline-block;
                                width: calc((100% - 60px) / 3);
                                margin-right: 30px;
                                margin-bottom: 30px;
                                overflow: hidden;

                                &:nth-child(n+3) {
                                    margin-right: 0;
                                }

                                >.proBox {
                                    background-color: #fff;
                                    transition: all ease-in-out .3s;

                                    &:hover {
                                        background-color: @btnColor;
                                        background-color: var(--btnColor);
                                    }

                                    &:hover>.imgBox {
                                        transform: translateY(-7%);
                                    }

                                    &:hover>.contentBox>.slideBox>.textBox .proTitle {
                                        color: #fff;
                                        transform: translateY(-60%);
                                    }

                                    &:hover>.contentBox>.slideBox>.textBox .proBtn {
                                        background-color: #fff;
                                        color: @btnColor;
                                        color: var(--btnColor);
                                    }

                                    >.imgBox {
                                        height: 0;
                                        padding-bottom: 100%;
                                        overflow: hidden;
                                        transition: all ease-in-out .3s;

                                        img {
                                            width: 100%;
                                        }
                                    }

                                    >.contentBox {
                                        >.slideBox {
                                            padding: 5% 0;

                                            >.textBox {
                                                h3 {
                                                    font-size: 16px;
                                                    font-weight: normal;
                                                    text-align: center;
                                                    transition: all ease-in-out .3s;

                                                }

                                                a.proBtn {
                                                    display: block;
                                                    width: 20px;
                                                    margin: 3% auto 0;
                                                    font-size: 14px;
                                                    line-height: 20px;
                                                    text-align: center;
                                                    border-radius: 100%;
                                                    background-color: #ff7f27;
                                                    background-color: var(--btnColor);
                                                    transition: all ease-in-out .3s;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    >.main {
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: @assistColor;
        background-color: var(--assistColor);

        >.gridBox {
            >.gridCell {
                vertical-align: top;

                &:nth-child(1) {
                    width: 40%;

                    p {
                        color: #ffffff;
                        line-height: 2;

                        a {
                            color: #fff;
                        }
                    }
                }

                &:nth-child(2) {
                    width: 60%;

                    >.footerNav {
                        >.yjBox {
                            font-size: 0;
                            color: #fff;

                            >li {
                                display: inline-block;
                                width: calc(100% / 7);

                                &:first-child{
                                    display:none;
                                }

                                >.yjTitle {
                                    font-size: 16px;
                                    font-weight: bold;
                                }

                                >.slideBox {
                                    >.ejBox {
                                        margin-top: 15px;

                                        >li {
                                            margin-top: 7px;

                                            >.ejTitle {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .copyright {
        background-color: @mainColor;
        background-color: var(--mainColor);
        color: #fff;

        .pageContent {
            padding-top: 20px;
            padding-bottom: 20px;

            p {
                text-align: center;

                span {
                    margin-left: 5px;
                }
            }
        }
    }
}